<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>906578265516-gh0rd74fko7r5g3arfu3p4gm86r1271c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906578265516-gh0rd74fko7r5g3arfu3p4gm86r1271c</string>
	<key>API_KEY</key>
	<string>AIzaSyCt6ugmn1T17q7Xm5--qjPeNNGvz4QrmN4</string>
	<key>GCM_SENDER_ID</key>
	<string>906578265516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfirebase</string>
	<key>PROJECT_ID</key>
	<string>baby-names-ca10a</string>
	<key>STORAGE_BUCKET</key>
	<string>baby-names-ca10a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906578265516:ios:8571d1565d617280</string>
	<key>DATABASE_URL</key>
	<string>https://baby-names-ca10a.firebaseio.com</string>
</dict>
</plist>